<!doctype html>
<html lang="en" data-bs-theme="<%= conf.theme %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="menu.css" type="text/css" rel="stylesheet">
    <% if(conf.standalone) { %>
      <link href="standalone.css" type="text/css" rel="stylesheet">
    <% } %>

    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  </head>
  <body id="body" class="standalone-display-<%= conf.standalone %>">

    <div id="overlayModal" class="modal fade" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-<%= conf.position %> standalone-<%= conf.standalone %>" data-backdrop="false">
        <div class="modal-content">
          <div class="modal-header d-inline">
            <ul class="nav justify-content-center nav-underline nav-fill" role="tablist">
              <% if(scenes.length > 0) { %>
                <li class="nav-item" role="presentation">
                  <button class="nav-link link-secondary" type="button" role="tab" data-bs-toggle="tab"
                  id="scenes-tab" aria-controls="scenes" data-bs-target="#scenes" aria-selected="true" onclick="hideDefaultContent()">
                    <i class="bi bi-pin-map-fill"></i> Scenes
                  </button>
                </li>
              <% } %>
              <% if(poses.length > 0) { %>
                <li class="nav-item" role="presentation">
                  <button class="nav-link link-secondary" type="button" role="tab" data-bs-toggle="tab"
                  id="poses-tab" aria-controls="poses" data-bs-target="#poses" aria-selected="true" onclick="hideDefaultContent()">
                    <i class="bi bi-person-arms-up"></i> Poses
                  </button>
                </li>
              <% } %>
              <li class="nav-item" role="presentation">
                <button class="nav-link link-secondary" type="button" role="tab" data-bs-toggle="tab"
                id="character-tab" aria-controls="character" data-bs-target="#character" aria-selected="false" onclick="hideDefaultContent()">
                  <i class="bi bi-person-hearts"></i> Character
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link link-secondary" type="button" role="tab" data-bs-toggle="tab"
                id="camera-tab" aria-controls="camera" data-bs-target="#camera" aria-selected="false" onclick="hideDefaultContent()">
                  <i class="bi bi-camera-video"></i> Camera
                </button>
              </li>
              <% if(softengine.length > 0) { %>
                <li class="nav-item" role="presentation">
                  <button class="nav-link link-secondary" type="button" role="tab" data-bs-toggle="tab"
                  id="softengine-tab" aria-controls="softengine" data-bs-target="#softengine" aria-selected="false" onclick="hideDefaultContent()">
                    <i class="bi bi-magic"></i> SoftEngine
                  </button>
                </li>
              <% } %>
            </ul>
          </div>
          <div class="modal-body tab-content d-flex">
            <!-- Logo -->
            <div class="tab-pane fade active show align-middle align-self-center" id="defaultContent" role="tabpanel" tabindex="0">
              <img class="menuImage rounded img-fluid " src="./img/doa-gravure-studio-logo.png" class="card-img-top">
            </div>

            <!-- Scenes -->
            <div class="tab-pane fade align-top flex-fill" id="scenes" role="tabpanel" aria-labelledby="scenes-tab" tabindex="0">

              <!-- Random scene select -->
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-secondary" onclick="selectRandomScene(this, 'scene')">
                  <i class="bi bi-shuffle"></i> 
                  Select random scene
                </button>
              </div>

              <!-- Scenes accordion -->
              <div class="accordion accordion-flush" id="scenesAccordion">
                <% for(var i=0; i < scenes.length; i++) { %>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" onclick="toggleAccordion('flush-collapse-<%= scenes[i].id %>')">
                          <%= scenes[i].name %>
                      </button>
                    </h2>
                    <div id="flush-collapse-<%= scenes[i].id %>" class="accordion-collapse collapse" data-bs-parent="#scenesAccordion">
                      <img class="menuImage rounded img-fluid" src="./img/doa-gravure-studio-logo.png" class="card-img-top">
                      <% for(var j=0; j < scenes[i].scenes.length; j++) { %>
                        <button class="btn btn-outline-secondary btn-sm scene-button focus-ring focus-ring-success text-decoration-none"
                            onmouseover="setImage('<%= scenes[i].scenes[j].data %>', '<%= scenes[i].scenes[j].thumbnail %>')"
                            onclick="sendKeypress(this, '<%= scenes[i].scenes[j].data %>', '<%= scenes[i].scenes[j].mode %>', '<%= scenes[i].scenes[j].customfolder %>')">
                          <%= scenes[i].scenes[j].name %>
                        </button>
                      <% } %>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>

            <!-- Poses -->
            <div class="tab-pane fade align-top flex-fill" id="poses" role="tabpanel" aria-labelledby="poses-tab" tabindex="0">

              <!-- Random pose select -->
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-secondary" onclick="selectRandomScene(this, 'pose')">
                  <i class="bi bi-shuffle"></i> 
                  Select random pose
                </button>
              </div>

              <!-- Poses accordion -->
              <div class="accordion accordion-flush" id="posesAccordion">
                <% for(var i=0; i < poses.length; i++) { %>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" onclick="toggleAccordion('pose-flush-collapse-<%= poses[i].id %>')">
                          <%= poses[i].name %>
                      </button>
                    </h2>
                    <div id="pose-flush-collapse-<%= poses[i].id %>" class="accordion-collapse collapse" data-bs-parent="#posesAccordion">
                      <img class="menuImage rounded img-fluid card-img-top" src="./img/doa-gravure-studio-logo.png">
                      <div class="pose-buttons">
                        <% for(var j=0; j < poses[i].scenes.length; j++) { %>
                          <button class="btn btn-outline-secondary btn-sm pose-button focus-ring focus-ring-success text-decoration-none"
                              onmouseover="setImage('<%= poses[i].scenes[j].data %>', '<%= poses[i].scenes[j].thumbnail %>')"
                              onclick="sendKeypress(this, '<%= poses[i].scenes[j].data %>', '<%= poses[i].scenes[j].mode %>', '<%= poses[i].scenes[j].customfolder %>')">
                            <%= poses[i].scenes[j].name %>
                          </button>
                        <% } %>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>

            <!-- Character -->
            <div class="tab-pane fade align-top flex-fill" id="character" role="tabpanel" aria-labelledby="character-tab" tabindex="0">
              <div class="btn-group">
                <button id="breast-motion-button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-auto-close="true" type="button" onclick="toggleDropDown(this)">
                  <i class="bi bi-heart-pulse"></i> Breast motion
                </button>
                <ul id="character-breast-motion" class="dropdown-menu">
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('breast-motion-off', this, 'character-breast-motion', 'breast-motion-button')">
                      Off
                    </button>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('breast-motion-natural', this, 'character-breast-motion', 'breast-motion-button')">
                      Natural
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('breast-motion-doa', this, 'character-breast-motion', 'breast-motion-button')">
                      DOA
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('breast-motion-omg', this, 'character-breast-motion', 'breast-motion-button')">
                      OMG
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('breast-motion-omgdoa', this, 'character-breast-motion', 'breast-motion-button')">
                      OMG+DOA
                    </button>
                  </li>
                </ul>
              </div>
              <div class="btn-group">
                <button id="brigthess-button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-auto-close="true" type="button" onclick="toggleDropDown(this)">
                  <i class="bi bi-brightness-high"></i> Brightness
                </button>
                <ul id="character-brightness" class="dropdown-menu">
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('character-brightness-80', this, 'character-brightness', 'brighness-button')">
                      80%
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('character-brightness-90', this, 'character-brightness', 'brighness-button')">
                      90%
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('character-brightness-100', this, 'character-brightness', 'brighness-button')">
                      100%
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('character-brightness-110', this, 'character-brightness', 'brighness-button')">
                      110%
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('character-brightness-120', this, 'character-brightness', 'brighness-button')">
                      120%
                    </button>
                  </li>
                </ul>
              </div>
              <div class="btn-group">
                <button id="wetness-button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-auto-close="true" type="button" onclick="toggleDropDown(this)">
                  <i class="bi bi-droplet-half"></i> Wet level
                </button>
                <ul id="character-wetness" class="dropdown-menu">
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('character-wet-off', this, 'character-wetness', 'wetness-button')">
                      Off
                    </button>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('character-wet-low', this, 'character-wetness', 'wetness-button')">
                      Low
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('character-wet-mid', this, 'character-wetness', 'wetness-button')">
                      Mid
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('character-wet-high', this, 'character-wetness', 'wetness-button')">
                      High
                    </button>
                  </li>
                </ul>
              </div>
              <br>
              <div class="input-group input-group-sm py-2">
                <span class="input-group-text"><i class="bi bi-emoji-sunglasses px-1"></i> Tan level</span>
                <input type="range" class="form-control form-range" oninput="sendRangeValue(this, 'character-tan')">
              </div>
              <div class="input-group input-group-sm w-100">
                <span class="input-group-text"><i class="bi bi-arrows-move px-1"></i> Position</span>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="sendAction('character-move-left', this)">
                  <i class="bi bi-chevron-double-left"></i> Left
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="sendAction('character-move-right', this)">
                  <i class="bi bi-chevron-double-right"></i> Right
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="sendAction('character-move-forward', this)">
                  <i class="bi bi-chevron-double-down"></i> Forward
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="sendAction('character-move-back', this)">
                  <i class="bi bi-chevron-double-up"></i> Back
                </button>
              </div>
            </div>

            <!-- Camera-->
            <div class="tab-pane fade align-top flex-fill" id="camera" role="tabpanel" aria-labelledby="camera-tab" tabindex="0">
              <div class="input-group input-group-sm py-1">
                <span class="input-group-text"><i class="bi bi-zoom-in px-1"></i> Zoom</span>
                <input type="range" class="form-control form-range" oninput="sendRangeValue(this, 'camera-zoom')">
              </div>
              <div class="input-group input-group-sm py-1">
                <span class="input-group-text"><i class="bi bi-box px-1"></i> Perspective</span>
                <input type="range" class="form-control form-range" oninput="sendRangeValue(this, 'camera-perspective')">
              </div>
              <div class="input-group input-group-sm py-1">
                <span class="input-group-text"><i class="bi bi-arrow-repeat px-1"></i> Rotation</span>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="sendAction('camera-rotate', this)">
                  <i class="bi bi-arrow-clockwise"></i> Rotate
                </button>
                <input type="range" class="form-control form-range" oninput="sendRangeValue(this, 'camera-rotation')">
              </div>
              <hr>
              <div class="input-group input-group-sm py-1">
                <span class="input-group-text"><i class="bi bi-arrow-down-up px-1"></i> Vertical pan</span>
                <input type="range" class="form-control form-range" oninput="sendRangeValue(this, 'camera-y-pan')">
              </div>
              <div class="input-group input-group-sm py-1">
                <span class="input-group-text"><i class="bi bi-arrows-vertical px-1"></i> Vertical rotation</span>
                <input type="range" class="form-control form-range" oninput="sendRangeValue(this, 'camera-y-rotation')">
              </div>
              <hr>
              <div class="input-group input-group-sm py-1">
                <span class="input-group-text"><i class="bi bi-arrow-left-right px-1"></i> Horizontal pan</span>
                <input type="range" class="form-control form-range" oninput="sendRangeValue(this, 'camera-x-pan')">
              </div>
              <div class="input-group input-group-sm py-1">
                <span class="input-group-text"><i class="bi bi-arrows px-1"></i> Horizontal rotation</span>
                <input type="range" class="form-control form-range" oninput="sendRangeValue(this, 'camera-x-rotation')">
              </div>
            </div>

            <!-- SoftEngine toggles -->
            <div class="tab-pane fade align-top flex-fill" id="softengine" role="tabpanel" aria-labelledby="softengine-tab" tabindex="0">
              <% for(var i=0; i < softengine.length; i++) { %>
                <h6><%= softengine[i].category %></h6>
                <% for(var j=0; j < softengine[i].toggles.length; j++) { %>
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input softengine-toggle" type="checkbox" role="switch"
                      onchange="sendToggle(this, '<%= softengine[i].toggles[j].enable.id %>', '<%= softengine[i].toggles[j].disable.id %>')">
                    <label class="form-check-label">
                      <%= softengine[i].toggles[j].name %>
                    </label>
                  </div>
                <% } %>
                <hr>
              <% } %>
            </div>
          </div>

          <div class="modal-footer justify-content-between">
            <div class="btn-group" role="group">
              <% if(!conf.standalone) { %>
                <button type="button" class="btn btn-outline-secondary" onclick="toggleMiniMode()" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Toggle overlay mini mode">
                  <i id="miniModeIcon" class="bi bi-arrows-angle-contract"></i>
                </button>
              <% } %>
              <button type="button" class="btn btn-outline-secondary" onclick="sendAction('character-reload', this)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Re-select character and start new scene">
                <i class="bi bi-arrow-repeat"></i>
              </button>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-auto-close="true" onclick="toggleDropDown(this)">
                  <i class="bi bi-eye-slash"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" type="button" onclick="sendAction('toggle-hud')">Toggle HUD</button></li>
                  <li><button class="dropdown-item" type="button" onclick="sendAction('toggle-character')">Toggle character</button></li>
                  <li><button class="dropdown-item" type="button" onclick="sendAction('toggle-stage')">Toggle stage</button></li>
                  <li><button class="dropdown-item" type="button" onclick="sendAction('toggle-effect')">Toggle effect</button></li>
                  <li><button class="dropdown-item" type="button" onclick="sendAction('toggle-reshade')">Toggle ReShade</button></li>
                </ul>
              </div>
            </div>

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-secondary" onclick="sendAction('play', this)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Resume scene playback">
                <i class="bi bi-play"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary" onclick="sendAction('pause', this)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Pause scene playback">
                <i class="bi bi-pause"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary" onclick="sendSpecialAction('screenshot')">
                <i class="bi bi-camera"></i>
              </button>
              <button type="button" id="recordBtn" class="btn btn-outline-secondary" onclick="toggleRecord(this)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Start recording">
                <i class="bi bi-record"></i>
              </button>
              <div class="btn-group" role="group">
                <button id="game-speed-button" type="button" class="btn btn-outline-secondary dropdown-toggle"  data-bs-auto-close="true" onclick="toggleDropDown(this)">
                  <i class="bi bi-speedometer"></i>
                </button>
                <ul id="game-speed" class="dropdown-menu">
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('speed-slow', this, 'game-speed', 'game-speed-button')">
                      Slow
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('speed-normal', this, 'game-speed', 'game-speed-button')">
                      Normal
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" onclick="sendActionAndActivate('speed-fast', this, 'game-speed', 'game-speed-button')">
                      Fast
                    </button>
                  </li>
                </ul>
              </div>
            </div>

            <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Toggle SoftEngine">
              <input type="checkbox" class="btn-check" id="softengine-toggle-btn" autocomplete="off" onchange="toggleSoftEngine(this)">
              <label class="btn btn-outline-success" for="softengine-toggle-btn"><i class="bi bi-magic"></i></label><br>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script src="menu.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../node_modules/@popperjs/core/dist/esm/popper.js"></script>
    <script>window.$ = window.jQuery = require('../node_modules/jquery');</script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
  </body>
</html>

